@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

html, body{
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
}

.grad{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #2637FF, #B523E8);
}
h1{
  color: #fff;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.login{
  float: right;
}
.loginInfo{
  color: #4AE85D;
}
.loginInfo:hover{
  cursor: pointer;
}
.loginPic{
  height: 30px;
  width: auto;
  margin-right: 50px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.list{
  background: #fff;
  border-radius: 10px;
  width: 700px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 25px #2b2b2b;
}
ul{
  list-style-type: none;
}
li{
  border-bottom: 1px solid #b2b2b2;
}
.name{
  font-weight: 1000;
}
#information{
  font-weight: lighter;
  color: #a3a3a3;
}
.message{
  font-weight: bold;
}
#profilePic{
   width: 40px;
   height: 40px;
   margin-top: 25px;
}
